@font-face {
    font-family: font-bold;
    src: url(../asset/fonts/Campton/Campton-BoldDEMO.otf);
}
@font-face {
    font-family: font-light;
    src: url(../asset/fonts/Campton/Campton-LightDEMO.otf);
}
*{
    scroll-behavior: smooth;
}
body {
    font-family : font-light
}
.font-bold {
    font-family : font-bold
}
.content-font {
    font-size : 18px;
    font-weight : lighter;
    margin-bottom : 5px
}
.right-arrow {
    transform: translateY(-10%);
    width : 12px;
    margin-left : 20px;
    height : auto
}
.detail-btn {
    font-size : 20px;
    padding-top : 10px; 
    color : rgb(0,134,244);
    font-weight: bold;
}
.gen-content{
    font-size : 18px
}
.gen-heading {
    font-size : 20px
}
.second-section {
    padding : 10vh 10vw;
}
.other-section {
    padding : 5vh 10vw;
}
.img-fix {
    padding-right : 25px
}
.first-section {
    padding : 25vh 10vw
}

/* Bootstrap override */
.navbar-light .navbar-toggler{
    border-color : transparent
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,134,244,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* For smaller screens */
@media (max-width : 990px){
    .cover-img {
        text-align: center;
    }
    .help-us-img{
        text-align: left;
    }
    .right-arrow-spl {
        transform: translateY(-10%);
        width : 12px;
        margin-left : 5px;
        height : auto
    }
    .cover-img-fix {
        padding-top : 50px;
    }
    .first-section {
        padding : 10vh 10vw
    }
    .sponsor-margin-fix{
        margin-top : 20px
    }
    #fc_frame {
        display : none
    }
}

/* For bigger screens */
@media (min-width : 991px){
    .cover-img {
        text-align: right
    }
    .help-us-img{
        text-align: right
    }
    .right-arrow-spl {
        transform: translateY(-10%);
        width : 12px;
        margin-left : 20px;
        height : auto
    }
    .first-section {
        padding : 25vh 10vw
    }
    .sponsor-margin-fix{
        margin-top : 40px
    }
    .bird-fix {
        transform: translateX(-25%)
    }
}

#popup {
    display: none
}

.theme-icon {
    height : 30px;
    margin-bottom : 20px
}

.theme-icon-cover {
    margin-top : 50px;
    margin-bottom:50px
}

.icon-circle {
    border-radius : 50%;
    height : 40px;
    width : 40px;
    border : 2px solid black;
}

.company-name {
    font-size : 20px; 
    line-height: 40px ; 
    transform: translate(-2%, 5%)
}

.track-content {
    padding: 10px 40px 15px 20px; 
    text-align: justify;
    font-size: 18px
}

.track-subheading {
    font-size : 30px;
    padding : 25px;
    padding-left: 15px;
}

.details-heading {
    font-size : 22px;
    padding-bottom : 15px
}

.details-content {
    font-size : 18px;
}

.cor-circle {
    margin : auto;
    height : 80px;
    margin-top : 15px;
    width : 100%;
    text-align: center;
}

.cor-name {
    text-align : center;
    width : 100%;
}

.circle {
    margin : auto;
    height : 80px;
    width : 80px;
    border-radius: 50%;
    background-color: ghostwhite;
    margin-top : 15px;
}

@media (max-width : 700px) {
    .cor-name {
        text-align : center;
        width : 100%;
        margin-bottom : 60px
    }
}


#preloader {
	position: fixed;
    height : 100vh;
    z-index : 100;
	background: white url('../asset/bg.svg') center center;
}